
@font-face {
  font-family: latoLight;
  src: url('../../../assets/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: latoBold;
  src: url('../../../assets/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: latoRegular;
  src: url('../../../assets/Lato/Lato-Regular.ttf');
}
.mob{
  display: none;
}
.desktop{
  display: block;
}
img{

  height: 260px;
}
h2{
  font-family: latoBold;
  color:#000051;
  font-size: x-large;
}
.part{
  background-color: #fff;
  padding: 2rem 2rem;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  padding: 0 7rem;
}

.carousel-inner{
  height: 23em;
  background-color: #fff;
}


@media only screen and (max-width: 712px) {
  .mob{
    display: block;
  }
  .desktop{
    display: none;
  }
 }