<app-nav-admin></app-nav-admin>
<button class="btn btn-outline-primary" type="button" style="margin-left: 80%;margin-top: 1%;" routerLink="/addProject">Add Project</button>

<div>
    <div class="text-center">
        <h1 class=" yellow">Sample of our projects</h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="example-5 alternate-card" *ngFor="let proj of projects">
          <div class="wrapper" [ngStyle]="{background: 'url(' + 'http://localhost:6100/api/project/project/image/'+proj._id+'/view' + ')'}">
            <div class="date">
              <span class="day">{{proj.title}}</span>
                <!-- here we can show product -->
                <span class="day">{{proj.productName}}</span>

            </div>

            <div class="data">
              <div class="content">
                <!-- here we can show product -->
                <span class="type">{{proj.productName}}</span>
                <h1 class="title"><a href="#">{{proj.title}}</a></h1>
                  <ul class="menu-content">
                    <p class="proDetails gray"><span class="project"> Consultant</span>{{proj.consultant}}</p>
                    <p class="proDetails white"><span class="project"> Project Owner</span>{{proj.owner}}</p>
                    <p class="proDetails gray"><span class="project"> Location</span>{{proj.location}}</p>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>



