@font-face {
  font-family: latoLight;
  src: url('../../assets/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: latoBold;
  src: url('../../assets/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: latoRegular;
  src: url('../../assets/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: open-sansBold ;
  src: url(../../assets/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: open-sansRegular ;
  src: url(../../assets/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: open-sansSemibold ;
  src: url(../../assets/Open_Sans/OpenSans-SemiBold.ttf);
}
.navbar-dark .navbar-nav .nav-link {
  font-family: open-sansSemibold !important;
  color: #fff;
}
.navbar{
  position: fixed;
  z-index: 66666;
  top: 0;
  width: 100%;
  height: 8em;
}
.nav-link{
  font-family:open-sansSemibold !important ;
  font-size: large;
  color:#fff
}
.nav-item{
  margin-right:  12px;
}
.transparentBack{
  background-color: transparent !important;

  /* background-color: #000051 !important; */
  transition: all 0.5s;
  width: 100%;
}
.whiteBack{
  background-color: #000051 !important;
  transition: all 0.5s;
  width: 100%;
}
.whiteBack a{
  color: #000051;
}

.dropdown-item{
  font-family:open-sansSemibold !important ;
  font-size: large;
  color:#000051;
}

.brand-logo{
  position: absolute;
  left: 15px;
  top: 5px;
}

.navbar-toggler{
  position: absolute;
  right:15px;
  top: 10px;
  height: 4em;
  width: 4em;
}
.navbar-toggler-icon{
  font-size: large;
}


@media only screen and (max-width: 712px) {
  .nav-link{
     background-color: #fff;
     color: #000051 !important;
     padding-left: 2em;

  border-bottom-color: #66666611;
  border-bottom-style: solid;
  border-bottom-width: 0.01rem;
    
   }
 }
