pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .download {
    color: white;
    padding: 14px 20px;
    margin: 8px auto !important;
    border: none;
    cursor: pointer;
    width: 150px;
    background-color: #000051
  }


  .ddd{
    filter: brightness(50%);
  }
