<app-navbar ></app-navbar>

<div>

  <app-page-header [pageName]="'ABOUT FRAME'"></app-page-header>

  <div>



    <div class="homeAbout gray flexRight" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <!-- <div class="aboutImage">
        <img src="https://dummyimage.com/900x600/000/fff" class="image" alt="" />
      </div> -->
      <div class="content text-center">
        <div>
          <h2 class="text-center">WHO WE ARE</h2>
          <p class="textContent slide-right">FRAME established 2005 , as the vision of enthusiastic civil Engineer , launching engineering firm concerned with advanced technologies in achieving customers' satisfaction and fulfilling technical requirements .

            In 2010 Frame for Facade Aluminum and Glass solutions eagerly concurred the Egyptian Market ,dealing with most of class-A Developers and Contractors ,and hitting records in productivity and commitment in all deliverables aspects .
            
            In 2016 Frame added further manufacturing yard equivalent to 3000 m2 ,to coop with the extensive customers' needs ,implementing the most advanced German technologies in cutting and assembly of the products .
            
            Up to 2020 had covered diversity of residential ,commercial ,industrial ,medical ,military ,recreational and touristic projects.
            
            </p>
   <br><br>
          <h2 class="text-center">VISION | FRAME</h2>
          <p class="textContent slide-left">Through the past 15 years ,Frame had delivered the utmost quality Facades in the Egyptian and international markets yet ,we remained focused on our customers' satisfaction .

            Continuously ,we are challenging our success .Looking forward to serve and support current/further customers ,as Frame's success won't be honored without the contribution of our customers.
            
            Besides ,we are in a never-ending improvement process for facades manufacturing ,we are providing our customers with value Engineering solutions for their projects best interest ,herein we consider this part is our best competitive edge .
            
          </p>            
        </div>
      </div>
    </div>

   

<!-- 
    <div class="homeAbout white flexLeft" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <div class="aboutImage">
        <img src="https://dummyimage.com/600x400/000/fff" class="image" alt="" />
      </div>
      <div class="content">
        <div>
         
        </div>
      </div>
    </div> -->





</div>
