<app-navbar></app-navbar>

<div>

  <app-page-header [pageName]="'ABOUT US'"></app-page-header>

  <div>

    <div class="homeAbout white flexLeft" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <div class="aboutImage">
        <img src="https://dummyimage.com/600x400/000/fff" class="image" alt="" />
      </div>
      <div class="content">
        <div>
          <h2 class="text-center">VISION | FRAME</h2>
        <p class="textContent">Through the past 15 years ,Frame had delivered the utmost quality Facades in the Egyptian and international markets  yet ,we remained focused on our customers' satisfaction ..</p>
        <p class="textContent">Continuously ,we are challenging our success .Looking forward to serve and support current/further customers ,as Frame's success won't be honored without the contribution of our customers.  </p>
        <p class="textContent">Besides ,we are in a never-ending improvement process for facades manufacturing ,we are providing our customers with value Engineering solutions for their projects best interest ,herein we consider this part is our best competitive edge .</p>

        </div>
      </div>
    </div>

    <div class="homeAbout gray flexRight" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <div class="aboutImage">
        <img src="https://dummyimage.com/600x400/000/fff" class="image" alt="" />
      </div>
      <div class="content">
        <div>
          <h2 class="text-center">VISION | FRAME</h2>
          <p class="textContent">Through the past 15 years ,Frame had delivered the utmost quality Facades in the Egyptian and international markets  yet ,we remained focused on our customers' satisfaction ..</p>
          <p class="textContent">Continuously ,we are challenging our success .Looking forward to serve and support current/further customers ,as Frame's success won't be honored without the contribution of our customers.  </p>
          <p class="textContent">Besides ,we are in a never-ending improvement process for facades manufacturing ,we are providing our customers with value Engineering solutions for their projects best interest ,herein we consider this part is our best competitive edge .</p>

        </div>
      </div>
    </div>

    <div class="homeAbout white flexLeft" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <div>
        <img src="https://dummyimage.com/600x400/000/fff" class="image" alt="" />
      </div>
      <div class="content">
        <div >
          <h2 class="text-center">VISION | FRAME</h2>
          <p class="textContent">Through the past 15 years ,Frame had delivered the utmost quality Facades in the Egyptian and international markets  yet ,we remained focused on our customers' satisfaction ..</p>
          <p class="textContent">Continuously ,we are challenging our success .Looking forward to serve and support current/further customers ,as Frame's success won't be honored without the contribution of our customers.  </p>
          <p class="textContent">Besides ,we are in a never-ending improvement process for facades manufacturing ,we are providing our customers with value Engineering solutions for their projects best interest ,herein we consider this part is our best competitive edge .</p>

        </div>
      </div>

    </div>





</div>
