<app-navbar ></app-navbar>

<div>

  <app-page-header [pageName]="'ABOUT FRAME'"></app-page-header>

  <div>



    <div class="homeAbout gray flexRight" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <!-- <div class="aboutImage">
        <img src="https://dummyimage.com/900x600/000/fff" class="image" alt="" />
      </div> -->
      <div class="content text-center">
        <div>
          <h2 class="text-center">WHO WE ARE</h2>
          <p class="textContent slide-right">Frame, established in 2005, was the vision of an enthusiastic civil engineer. Frame was launched as an engineering firm that is concerned with advanced technologies to achieve the client’s satisfaction and to fulfill technical requirements.
            
            In 2010, Frame for Aluminum Works and Glass Facades eagerly entered the Egyptian Market to deal with most of the class-A developers and contractors.  Frame was consistent in hitting productivity and commitment records in all the deliverable aspects.
            
            In 2016, Frame increased its manufacturing space to 3000 m2, to cope with the customers' needs. In 2020, Frame acquired the most advanced German machines to implement accurate cutting and assembly of the products.
            
            Up to 2020 and onwards, Frame had covered a diverse group of residential, commercial, industrial, recreational, and touristic projects.
            </p>
   <br><br>
          <h2 class="text-center">VISION | FRAME</h2>
          <p class="textContent slide-left">During the past 15 years,
             Frame had delivered upper echelon quality facades in the Egyptian and international markets.
              However, we remain focused on our target, which is the customers' satisfaction. 
              We are always challenging our success, one after the other. 
              We look forward to serving and supporting current and future customers as 
               Frame's success will not be validated without the satisfaction of our client.
                Frame continues to be in a never-ending improvement process for facade manufacturing;
                 we provide our customers with value engineering solutions for their projects.
          </p>            
        </div>
      </div>
    </div>

   

<!-- 
    <div class="homeAbout white flexLeft" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
      <div class="aboutImage">
        <img src="https://dummyimage.com/600x400/000/fff" class="image" alt="" />
      </div>
      <div class="content">
        <div>
         
        </div>
      </div>
    </div> -->



<br> <br>

</div>
