
<div class="container-fluid">
  <div  [ngClass]="{'productWrapper':true,'flexLeft':dir === 'left' , 'flexRight':dir === 'right'}">
    <div class="productImageWrapper">
      <!-- <img src="https://dummyimage.com/600x500/000/fff" alt="" /> -->
      <img class="img" [src]="mainImageSrc" alt="" />
    </div>
    <div class="contentWrapper">
        <h2 class="header">{{product.title}}</h2>
        <span class="content">{{product.description}}</span>
        <h2 class="subHeader">Systems</h2>
        <carousel *ngIf="images.length > 0" class="slider" [images]="images"></carousel>
    </div>
  </div>
</div>

