<app-nav-admin></app-nav-admin>
<button class="btn btn-outline-primary" style="margin-left: 80%;margin-top: 1%;" type="button"  routerLink="/addProduct">Add Product</button>
<div class="text-center">
  <h1 class=" yellow p-5">Our products</h1>
</div>
<!-- <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
  <div *ngFor="let product of products; index as i; odd as isOdd; even as isEven"
  [class.Odd]="isOdd"
  [class.even]="isEven">
       <div class="row product" >
      <div class="col-md-4 col-12 p-2">
          <img class="w-100 main-img" width="700px" height="400px" src={{product.avatar}} alt="walls img">
      </div>
      <div class="col-md-8 col-12 p-2">
          <h3 class="yellow text-center">{{product.title}} </h3>
          <p>{{product.description}}</p>
          <div><button type="button" class="btn btn-outline-danger" (click)="delete(product._id)" >Delete product</button>
          </div>

          <div class="text-center">
          <img class="m-2" width="200px" height="200px" src={{product.avatar1}} alt="slide 1">
          <img  class="m-2" width="200px" height="200px" src={{product.avatar2}} alt="slide 1">
          <img  class="m-2" width="200px" height="200px" src={{product.avatar3}} alt="slide 1">

        </div>

      </div>
</div>
</div>
</div> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Controllers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of products">
      <th scope="row">{{pro._id}}</th>
      <td>{{pro.title}}</td>
      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectProduct(pro)">Add Image Photo</button>
        <button type="button" class="btn btn-danger" style="margin: 0 0.5rem;" (click)="deleteProduct(pro._id)">Delete</button>

      </td>
    </tr>

  </tbody>
</table>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  class="form" #myForm="ngForm">


          <label class="p-2"  style="color:#000051 "><b>Product image</b></label>
          <div class="input-group p-2">
              <input
                type="file"
                class="form-control"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
                id="avatar"
                name="avatar"
                multiple=""
                (change)='onFileSelected($event)'
                #imageInput
              >
          </div>


          <button class="btn submit" type="submit" data-bs-dismiss="modal"  (click)="formSubmit()">Create</button>


      </form>
      </div>
    </div>
  </div>
</div>
